[submodule "nftclient"]
	path = nftclient
	url = keybase://team/signalkinetics/nft-game
[submodule "nft-client"]
	path = nft-client
	url = keybase://team/signalkinetics/nft-game
[submodule "smartpy"]
	path = smartpy
	url = keybase://team/signalkinetics/smartpy
